# ==========================================
# macOS
# ==========================================
.DS_Store
__MACOSX/

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environments
# ==========================================
venv/
.venv/
env/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Project Output Files
# ==========================================
output/*
!output/.gitkeep

# ==========================================
# Uploaded Files
# ==========================================
webapp/uploads/*
!webapp/uploads/.gitkeep

# ==========================================
# Environment Files
# ==========================================
.env
.env.*

# ==========================================
# Testing / Coverage
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Keep Empty Folders
# ==========================================
!datasets/.gitkeep