# Ignore system files
.DS_Store

# Ignore all files inside these folders
datasets/*
output/*
.vscode/*
webapp/uploads/*

# BUT keep the folders (using placeholder file)
!datasets/.gitkeep
!output/.gitkeep
!.vscode/.gitkeep
